.signinContainer{
    margin: 130px 24% 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid rgb(255, 171, 171);;
    width: 50%;
    padding-bottom: 50px;
    background-color: antiquewhite;
}
.signin-title{
    margin:10px 0 10px 0;
    font-size: 3em;
    color: rgb(165, 104, 104);
}

@media screen and (max-width:500px){
    .signinContainer{
        width: 80%;
        margin: 130px 10% 0 10%;
    }
}