.myimc-container{
    display: flex;
    flex-direction: column;
    margin: 140px 0 0 0;
  
}
.title-container{
    display: flex;
    justify-content:flex-start;
}

.myimc-h2{
   margin: 10px 0 0 10px;
    padding: 0px;
   font-size: 3.5em;
    text-transform: capitalize;
    font-weight: bold;
    color: brown;
}
.myimc-h2 >span{
    text-transform: capitalize;
}
.evo-imc{
    margin: 25px 0 0 100px;
    padding: 10px;
    background-color: rgb(252, 255, 255);
    border-radius:10px ;
    box-shadow: 2px 4px 4px rgb(165, 104, 104);
    color: rgb(165, 104, 104);
    border: 1px solid rgb(165, 104, 104);
    text-transform: uppercase;
    font-weight: bold;
}

.formContainer-myimc{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.myimc-label{
    font-size: 1.5em;
    color:rgb(165, 104, 104); 
    text-transform: capitalize;
    margin:30px 0 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.myimc-input{
    font-size: .7em;
    width: 300px;
    height: 20px;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(165, 104, 104);
    color: rgb(165, 104, 104);
    border: 1px solid rgb(165, 104, 104);
}

.myimc-button{
    margin-top: 40px;
    padding: 5px 0px 5px 0;
    background-color: rgb(252, 255, 255);
    border-radius:10px ;
    box-shadow: 2px 4px 4px rgb(165, 104, 104);
    color: rgb(165, 104, 104);
    border: 1px solid rgb(165, 104, 104);
    text-transform: uppercase;
    font-weight: bold;
    width: 250px;
}
.myimc-button:active{
    margin-top: 41px;
    background-color: rgb(252, 255, 255);
    border-radius:10px ;
    box-shadow: 1px 3px 3px rgb(165, 104, 104);
    text-transform: uppercase;
    font-weight: bold;
}

.myimc-para{
    font-size: 3em;
    color: brown;
    text-align: center;
}
.connected-para{
    display: none;
    margin: 50px;
    font-size: 2.5em;
    text-align: center;
}
.blue{
    color: blue;
}
.green{
    color: green;
}