.homeContainer{
    margin: 130px 10% 0 10% ;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    width: 80%;
    align-items: center;
    padding:20px 0 50px 0;
    border-radius: 10px;
    border: 3px solid rgb(255, 171, 171);;
}

.main-title-home{
    font-size: 4.5em;
    margin: 0 ;
    text-transform: uppercase;
    color:rgb(236, 166, 150);
}

.home-para{
    padding: 50px 100px;
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
    color: rgb(165, 104, 104);
    line-height: 1.3em;
    letter-spacing: .02em;
}

.go-to-imc-button{
    font-size: 1.5em;
    font-weight: 600;
    border: 3px solid #ECA696;
    border-radius: 5px;
    display: inline;
    padding: 15px;
    background: aliceblue;
    color: #ECA696;
    cursor: pointer;
}

.cite{
    display: block;
}
.home-para a {
    color:rgb(86, 91, 63) ;
    text-decoration: none;
}