.homeContainer{
    margin: 100px 0 0 0 ;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.main-title-home{
    font-size: 4.5em;
    margin: 0 ;
    text-transform: uppercase;
    color:rgb(236, 166, 150);
}

.home-para{
    padding: 50px 200px;
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
    color: rgb(165, 104, 104);
    line-height: 1.3em;
    letter-spacing: .02em;
}

.go-to-imc-button{
    font-size: 2em;
    border: 1px solid aliceblue;
    border-radius: 3px;
    display: inline;
    padding: 10px;
    background:#ECA696 ;
    color: aliceblue;
    cursor: pointer;
}

.cite{
    display: block;
}
.home-para a {
    color:rgb(86, 91, 63) ;
    text-decoration: none;
}